<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About US</title>
  <style media="screen">

      .body1 {
      color: #aa082e;
      background-color: #649eeb;
      font-family: 'Roboto', sans-serif;
    }

    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;

    }

    .jumbotron h1 {
      text-align: center;

    }

    .alert {
      margin: 0px;

    }
  </style>
  <title>About US</title>
</head>

<body class="body1">
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px; background: #649eeb; color: white;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
        <center>
    <h1 class="display-4" style="color:  #649eeb">Hello,</h1>
    <p class="lead" style="color:  #649eeb">This service created by KITA.</p>
            <p class="lead" style="color:  #649eeb">Kaan,Irmak,Tarık,Akın.</p>


    <p class="lead">
        <br>
      <a class="btn  btn-lg" style="background:#649eeb; border-color:#649eeb; color: white;" href="/" role="button">HOMEPAGE</a>
    </p>
              </center>
  </div>

</body>

</html>
