{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background-color: #649eeb;">
  <h1 class="display-4" style="text-align:center; color: white">Hello, Admin</h1>
<br><br>
    <center>
        <a class="btn btn-primary btn-lg" style="background: white; color:#649eeb; border-color: white;" href="/career" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg"  style="background: white; color:#649eeb; border-color: white;" href="/adminlogin" role="button">Login</a>

        </center>


        </p>
</div>

{% endblock content %}
