{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
<br><br>

<head>
             <title>Appointments</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <style type="text/css">
    a:link {
      text-decoration: none;
    }
    h6 {
      color: #649eeb;
    }

    .order-card {
      color: white;
    }

    .bg-c-blue {
      background: white;
    }

    .card {
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      border: none;
      margin-top: 50px;

    }

    .card .card-block {
      padding: 35px;
    }

  </style>
</head>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <center>

    <div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-4">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <a href="/admin-view-appointment">
            <h6 class="m-b-20">View Appointment</h6>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-4">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <a href="/admin-add-appointment">
            <h6 class="m-b-20">Book Appointment</h6>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-4">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <a href="/admin-approve-appointment">
            <h6 class="m-b-20">Approve Appointment</h6>
        </div>
      </div>
    </div>
  </div>
</div>
</center>
  <br><br><br><br><br><br><br>
{% endblock content %}
