<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Delete Appointment</title>
  <style media="screen">


             .body1 {
      color: white;
      background-color: #649eeb;
      font-family: 'Roboto', sans-serif;
    }

    .jumbotron {
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>

</head>

<body class="body1">

  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
  <div class="jumbotron">
    <h1 class="display-4" style="color: #649eeb;">Your appointment cancellation request sent successfully !</h1>
    <p class="lead" style="color: #649eeb;">We will cancel to your appointments ASAP.</p>
<br>
    <p class="lead">
      <a class="btn btn-lg" style="background:white; border-color:white; color: #649eeb;" href="/" role="button">BACK</a>
    </p>
  </div>
</center>
</body>

</html>
