<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Delete Appointment</title>
    <style>

             .body1 {
      color: white;
      background-color: #649eeb;
      font-family: 'Roboto', sans-serif;
    }



    </style>




</head>



<body class="body1">

  {% include "hospital/patientNavbar.html" %}
  <br><br>

  <center>
    <h3 class='alert' style="margin-bottom:0px; background: #649eeb; color: white;">Appointment Cancellation</h3>

    <form method="POST">


      {% csrf_token %}

      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit"  style="background:red; color: white;" value="Delete Appointment" class='btn  btn-lg'>
      </div>
    </form>
  </center>

</body>

</html>
