{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background: #649eeb; color:white">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
<br><br>
    <center>
            <a class="btn btn-primary btn-lg"  style="background: white; color:#649eeb; border-color: white;"href="/doctorlogin" role="button">Login</a>
    <a class="btn btn-primary btn-lg" style="background: white; color:#649eeb; border-color: white;" href="/career" role="button">Apply For A Job</a>

  </center>
        </p>
</div>

{% endblock content %}
