{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background: #649eeb; color:white">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <br><br>
      <center>
      <a class="btn btn-primary btn-lg"  style="background: white; color:#649eeb; border-color: white;" href="/patientlogin" role="button">Login</a>
    <a class="btn btn-primary btn-lg"  style="background: white; color:#649eeb; border-color: white;" href="/patientsignup" role="button">Sign Up</a>
</center>
  </p>
</div>

{% endblock content %}
